CC
Makefile
#.gitignore
.gdb_history
a.anime
a2.anime
enum.c
notes.txt
tools/bin
tools/bin/
tools/bin/*
tools/buid/
buid
buid/
buid/*
a.txt
*.log
*.out
run
destroot
#src/chaman.anime.ci
build
tools/build
*~
